<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista Produktów</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
</head>
<body>
  <h1>Lista Produktów</h1>

  <ul>
    <% products.forEach(product => { %>
      <li>
        <a href="/products/<%= product.id %>">
          <%= product.name %> - <%= product.price %> PLN
        </a>
      </li>
    <% }); %>
  </ul>

  <form action="/products/add" method="GET">
    <button type="submit">Dodaj nowy produkt</button>
  </form>
</body>
</html>
